.bg-custom {
  // background-color: #1c3643;
  background-color: #161a27;
}

.icono {
  color: #fff;
  padding-left: 50px;
  padding-right: 15px;
}

#header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}
