body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #8C9EFF;
  background-repeat: no-repeat
}

.card {
  z-index: 0;
  background-color: #ECEFF1;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 90px;
  border-radius: 10px
}

.top {
  padding-top: 40px;
  padding-left: 13% !important;
  padding-right: 13% !important
}
