<section id="place-time">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 ps-0 pe-0 contenedor">
        <img
          class="overlay"
          src="https://i.ibb.co/pQJCLP2/packages-6153947.jpg"
          alt="imagen"
          width="100%"
        />

        <!-- <h2 class="centrado">Realizar envios</h2> -->
        <a
          routerLink="/envio-paquetes"
          class="btn btn-outline-light centrado--btn"
          >Enviar paquetes</a
        >
      </div>
      <!-- <div class="col-12 col-lg-6 pt-4 pb-4"> -->
      <div class="col-12 col-lg-6 ps-0 pe-0 contenedor">
        <img
          class="overlay"
          src="https://i.ibb.co/HxW6mGm/startup-3267505.jpg"
          alt="imagen"
          width="100%"
        />
        <!-- <h2 class="centrado">Ver mis envios</h2> -->
        <a
          routerLink="/historial-envios"
          class="btn btn-outline-light centrado--btn"
          >Ver historial</a
        >
      </div>
    </div>
  </div>
</section>
