<div class="container-fluid">
  <h1 class="display-6 text-center mt-5 mb-3">
    Historial de envíos realizados
  </h1>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#Guia</th>
        <th scope="col">Remitente</th>
        <th scope="col">Destinatario</th>
        <th scope="col">Paquete</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Remitente1</td>
        <td>Destinatario1</td>
        <td>Paquete1</td>
        <td>01/01/2022</td>
        <td>Q100</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Remitente2</td>
        <td>Destinatario2</td>
        <td>Paquete2</td>
        <td>01/01/2022</td>
        <td>Q100</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Remitente3</td>
        <td>Destinatario3</td>
        <td>Paquete3</td>
        <td>01/01/2022</td>
        <td>Q100</td>
      </tr>
    </tbody>
  </table>
  <button routerLink="/home" type="submit" class="btn btn-secondary mb-2">
    Volver
  </button>
  <button type="submit" class="btn btn-success ms-3 mb-2">Generar PDF</button>
</div>
